
# CHAPTER 6 TRANSPORTATION, TRANSSHIPMENT, AND ASSIGNMENT PROBLEMS
**Introduction To Managemnt Science**\
**Page 256**
##Parametrs Definition
* $I$: The set of supply nodes , \{"Tampa", "Miami", "Fresno"\}
* $J$: The set of demand nodes/ destination nodes  , \{"New York","Philadelphia","Chicago", "Boston"\}
* $S_i \equiv $  Maximum number of units that can be shipped from supply node   $i$, $i\in I$.
* $D_j \equiv $ The demand for each node  $j$, $j\in J$.
* $T_{ij} \equiv $ The shipping costs per truckload (in hundreds of dollars) form each supply node  $i$ to each demand node $j$, $i\in I$, $j\in J$.
##Decison Variables
\begin{align*}
  x_{ij} & \equiv \text {Quantity shipped from each supply node $i$ to each destination node $j$ }
\\\end{align*}
##Linear Programme
\begin{align*}
 \min \hspace{10pt} & \sum_{i \in I}\sum_{j\in J} x_{ij}T_{ij} \\
 \text{s.t.} \hspace{7pt}
   & \sum_{j\in J}x_{ij} \le S_i & \forall i \in I\\
& \sum_{i\in I}x_{ij} \ge D_j & \forall j \in J\\
   & x_{ij}\ge 0 & \forall i \in I , \forall j \in J\\
 \end{align*}


## Dual Decison Variables
\begin{align*}
    U_{i} & \equiv \text {The corresponding dual variabel for the supply constarints } \\
    V_{j} & \equiv \text {The corresponding dual variabel for the demand constarints }
\end{align*}

## Dual Linear Programme
\begin{align*}
    \max \hspace{10pt} & \sum_{i \in I} S_iU_i+ \sum_{j \in J} D_jV_j\\
    \text{s.t.} \hspace{7pt}
    & U_i + V_j \le T_{ij} & \forall i \in I  , \forall j \in J\\
    & U_{i}\le 0 & \forall i \in I \\
    & V_{j}\ge 0 & \forall j \in J\\
  \end{align*}

In [ ]:
# To call optimization library
!pip install cplex
!pip install docplex
!pip install pandas

Requirement already satisfied: cplex in /usr/local/lib/python3.7/dist-packages (20.1.0.1)
Requirement already satisfied: docplex in /usr/local/lib/python3.7/dist-packages (2.22.213)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from docplex) (1.15.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
from docplex.mp.model import Model
import pandas as pd
import io
#io: Python Input Output (I/O) Using input() and print() Function.

In [ ]:
#Method 1
from google.colab import files
uploaded=files.upload()

Saving Transportation.xlsx to Transportation.xlsx

In [ ]:
df=pd.read_excel(io.BytesIO(uploaded["Transportation.xlsx"]),skiprows=11,usecols="D:I")
df

    From   New York  Philadelphia  Chicago  Boston  Supply
0   Tampa         9            14       12      17   200.0
1  Miami         11            10        6      10   200.0
2  Fresno        12             8       15       7   200.0
3  Demand       130           170      100     150     NaN

In [ ]:
#Method2
#Mounting Method, to define your drive
#from google.colab import drive
#drive.mount('/content/gdrive')
# If the file was uploaded to google drive and it was not inside a folder
#df=pd.read_excel('/content/drive/MyDrive/New_Folder/Simplex Algorithm.xlsx',skiprows=11,usecols="D:I")

# If the file was inside a folder named as "Google Colab Excel Sheets"
#df=pd.read_excel('/content/gdrive/MyDrive/Google Colab Excel Sheets/Transportation.xlsx',skiprows=11,usecols="D:I")


#df

In [ ]:
df.head()
df.columns
#df['From ']
df.columns[1]
df[df.columns[1]]
df[df.columns[1]][0]
df[df.columns[4]][0]
df.iloc[2,3] #Access elemnts using integer index for rows and columns output 15
df.loc[df[df.columns[1]]==12,df.columns[1]]
df.columns.get_loc('Boston')
len (df)

4

In [ ]:
df.head() #To give me the first five rows
df.columns

df['From '] #This will give all under 'From'
df.columns[1] #This sentence will give "New York"
df[df.columns[1]] # To access all data related to "New-York"

df[df.columns[1]][0] # To access a certain value within a specific coloumn and specific row 9
df[df.columns[3]][2] #To access the value 15
#df.loc[0,2] #Access elements using integer index for rows and coloumns
df.loc[1,'From ']
df.loc[df[df.columns[1]]==12,df.columns[1]]
#df.columns[df.columns['New York'].index:df.columns['Boston'].index]
index_no = df.columns.get_loc('Boston')
print (index_no)
range(df.columns.get_loc('New York'),df.columns.get_loc('Boston'))

4

range(1, 4)

In [ ]:
Source = {}
for i in range (0,len (df)-1): #range (0,3):0,1,2
    Source[df.iloc [i,0]]=df.iloc[i,-1]
print (Source)


Destination= {}
for j in df.columns[1:-1]: #Exclusive of the last number, same as range
   Destination[j]=df[j][3]

Destination ={}
for i in range(df.columns.get_loc('New York'),df.columns.get_loc('Boston')+1):
  Destination[df.columns[i]] = df.iloc[-1,i]
print (Destination)


Transportation_Cost ={}
for i in Source.keys():
    Transportation_Cost[i]={j:df.loc[df['From ']==i,j].item()for j in Destination.keys()}

print (Source)
print (Destination)
print (Transportation_Cost)

{'Tampa': 200.0, 'Miami ': 200.0, 'Fresno': 200.0}
{'New York': 130, 'Philadelphia': 170, 'Chicago': 100, 'Boston': 150}
{'Tampa': 200.0, 'Miami ': 200.0, 'Fresno': 200.0}
{'New York': 130, 'Philadelphia': 170, 'Chicago': 100, 'Boston': 150}
{'Tampa': {'New York': 9, 'Philadelphia': 14, 'Chicago': 12, 'Boston': 17}, 'Miami ': {'New York': 11, 'Philadelphia': 10, 'Chicago': 6, 'Boston': 10}, 'Fresno': {'New York': 12, 'Philadelphia': 8, 'Chicago': 15, 'Boston': 7}}

In [ ]:
# My way of defining the parameters of the problem statemnet
#WE ARE UTILIZING PANDAS
Source= {}
for i in range (0,len (df)-1):
  Source [df.loc[i,'From ']]=df.loc[i,'Supply']

print (Source)


Destination = {}
for i in range(df.columns.get_loc('New York'),df.columns.get_loc('Boston')+1):
  Destination [df.columns[i]]=df.iloc[-1,i]

print (Destination)

Transportaion_cost ={}
for i in Source.keys():
  Transportaion_cost[i]={j:df.loc[df['From ']==i,j].item()for j in Destination.keys()}

print (Transportaion_cost )

{'Tampa': 200.0, 'Miami ': 200.0, 'Fresno': 200.0}
{'New York': 130, 'Philadelphia': 170, 'Chicago': 100, 'Boston': 150}
{'Tampa': {'New York': 9, 'Philadelphia': 14, 'Chicago': 12, 'Boston': 17}, 'Miami ': {'New York': 11, 'Philadelphia': 10, 'Chicago': 6, 'Boston': 10}, 'Fresno': {'New York': 12, 'Philadelphia': 8, 'Chicago': 15, 'Boston': 7}}

In [ ]:
# First impot the Model class from docplex.mp
from docplex.mp.model import Model

In [ ]:
# Create one model instance, with a name
m = Model (name="Reading_From_Excel")

In [ ]:
Source = {'Tampa': 200.0, 'Miami ': 200.0, 'Fresno': 200.0}
Destination = {'New York': 130, 'Philadelphia': 170, 'Chicago': 100, 'Boston': 150}
Transportaion_cost = {'Tampa': {'New York': 9, 'Philadelphia': 14, 'Chicago': 12, 'Boston': 17},
                      'Miami ': {'New York': 11, 'Philadelphia': 10, 'Chicago': 6, 'Boston': 10},
                      'Fresno': {'New York': 12, 'Philadelphia': 8, 'Chicago': 15, 'Boston': 7}}

In [ ]:
Source.values()
sum(Source.values())

600.0

In [ ]:
#Method_1
Quantity = m.continuous_var_dict([(i,j) for i in Source.keys()
                                                    for j in Destination.keys()],lb=0,ub=None,name=" Quantity shipped ")

In [ ]:
#Method_2
Quantity= {(i,j): m.continuous_var(lb= 0, ub= None, name='Quantity shipped from source {0} to destination {1}'.format(i,j))for i in Source.keys()
                                                    for j in Destination.keys() }

In [ ]:
m.minimize (m.sum(Transportaion_cost[i][j]*Quantity[(i,j)] for i in Source.keys() for j in Destination.keys()))

In [ ]:
#This is a wrong way of defining the objective function
#Looping will result in set of independent sentences
#You have to define one expression within the objective
"""for i in Source.keys():
  for j in Destination.keys():
    m.minimize(m.sum(Transportaion_cost[i][j]*Quantity[(i,j)]))"""

In [ ]:
if sum(Source.values()) > sum(Destination.values()):
  for i in Source:
    m.add_constraint_(m.sum(Quantity[(i,j)] for j in Destination) <= Source[i])
  for j in Destination:
    m.add_constraint_(m.sum(Quantity[(i,j)] for i in Source) == Destination[j])
elif sum(Source.values()) < sum(Destination.values()):
  for i in Source:
    m.add_constraint_(m.sum(Quantity[(i,j)] for j in Destination) == Source[i])
  for j in Destination:
    m.add_constraint_(m.sum(Quantity[(i,j)] for i in Source) <= Destination [j])
else:
  for i in Source:
    m.add_constraint_(m.sum(Quantity[(i,j)] for j in Destination) == Source[i])
  for j in Destination:
    m.add_constraint_(m.sum(Quantity[(i,j)] for i in Source) == Destination [j])


m.add_constraint_(Quantity[('Miami ','Chicago')] == 0)

In [ ]:
m.add_constraints_(m.sum(Quantity[(i,j)]for i in Source)>=Destination[j] for j in Destination)
m.add_constraints_(m.sum(Quantity[(i,j)]for j in Destination)<=Source[i] for i in Source)

In [ ]:
# Print the model information
m.print_information()

Model: Reading_From_Excel
 - number of variables: 24
   - binary=0, integer=0, continuous=24
 - number of constraints: 30
   - linear=30
 - parameters: defaults
 - objective: minimize
 - problem type is: LP

In [ ]:
m.print_information()
# Solving the model
m.solve(log_output=True)
# printing solution

# Solution status
#print(m.solve_status)
print(m.solve_details.status)

m.print_solution()

Model: Reading_From_Excel
 - number of variables: 24
   - binary=0, integer=0, continuous=24
 - number of constraints: 30
   - linear=30
 - parameters: defaults
 - objective: minimize
 - problem type is: LP
Version identifier: 20.1.0.0 | 2020-11-11 | 9bedb6d68
CPXPARAM_Read_DataCheck                          1
Using devex.

Iteration log . . .
Iteration:     1    Objective     =          5420.000000
optimal
objective: 5080.000
  "Quantity shipped from source Tampa to destination New York"=100.000
  "Quantity shipped from source Tampa to destination Chicago"=100.000
  "Quantity shipped from source Miami  to destination New York"=30.000
  "Quantity shipped from source Miami  to destination Philadelphia"=120.000
  "Quantity shipped from source Fresno to destination Philadelphia"=50.000
  "Quantity shipped from source Fresno to destination Boston"=150.000

In [ ]:
m_dual = Model (name="Dual Transportaion Problem")

In [ ]:
# Dual Version of The Transporation Problem
# Dual Decison Variabels
U_i = m_dual.continuous_var_dict (Source.keys(), name="Supply Dual Variabels")
V_j = m_dual.continuous_var_dict (Destination.keys(), name="Demand Dual Variabels")

In [ ]:
# Dual Objective Function
m_dual.maximize(m.sum(Source[i]*U_i[i]for i in Source.keys()) + m.sum(Destination[j]*V_j[j] for j in Destination.keys()))

In [ ]:
# Dual Constarints
m_dual.add_constraints_(U_i [i]+ V_j[j]<= Transportation_Cost[i][j] for i in Source.keys() for j in Destination.keys())
m_dual.add_constraints_(U_i[i]<= 0 for i in Source.keys())
m_dual.add_constraints_(V_j[j]>= 0 for j in Destination.keys())

In [ ]:
# Print the model information
m_dual.print_information()

Model: Dual Transportaion Problem
 - number of variables: 7
   - binary=0, integer=0, continuous=7
 - number of constraints: 19
   - linear=19
 - parameters: defaults
 - objective: maximize
 - problem type is: LP

In [ ]:
m_dual.print_information()
# Solving the model
m_dual.solve(log_output=True)
# printing solution

# Solution status
print(m_dual.solve_status)
print(m_dual.solve_details.status)

m_dual.print_solution()

Model: Dual Transportaion Problem
 - number of variables: 7
   - binary=0, integer=0, continuous=7
 - number of constraints: 19
   - linear=19
 - parameters: defaults
 - objective: maximize
 - problem type is: LP
Version identifier: 20.1.0.0 | 2020-11-11 | 9bedb6d68
CPXPARAM_Read_DataCheck                          1
Tried aggregator 1 time.
LP Presolve eliminated 19 rows and 7 columns.
All rows and columns eliminated.
Presolve time = 0.00 sec. (0.01 ticks)
JobSolveStatus.OPTIMAL_SOLUTION
optimal
objective: 4180.000
  "Demand Dual Variabels_New York"=9.000
  "Demand Dual Variabels_Philadelphia"=8.000
  "Demand Dual Variabels_Chicago"=6.000
  "Demand Dual Variabels_Boston"=7.000